@charset "utf-8";
html {
  background-color: #eef2f5;
  color: #333;
  font-size: 14px;
  font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
<<<<<<< HEAD
  padding: 0
}

=======
  padding: 0;
}
>>>>>>> dhn
body,
input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: 1;
<<<<<<< HEAD
  font-family: tahoma, arial, "Hiragino Sans GB", simsun, sans-serif
}

=======
  font-family: tahoma, arial, "Hiragino Sans GB", simsun, sans-serif;
}
>>>>>>> dhn
h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
<<<<<<< HEAD
  font-size: 100%
}

=======
  font-size: 100%;
}
>>>>>>> dhn
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "microsoft yahei", simsun, sans-serif;
}
<<<<<<< HEAD

=======
>>>>>>> dhn
h1,
h2,
h3,
h4,
h5,
<<<<<<< HEAD
h6,
b,
strong {
  font-weight: normal;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left
}

caption,
th {
  text-align: inherit
}

=======
h6 {
  font-weight: normal;
}
address,
cite,
dfn,
i,
optgroup,
var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
caption,
th {
  text-align: inherit;
}
>>>>>>> dhn
ul,
ol,
menu,
li {
<<<<<<< HEAD
  list-style: none
}

fieldset,
img {
  border: 0
}

=======
  list-style: none;
}
fieldset,
img {
  border: 0;
}
>>>>>>> dhn
img,
object,
input,
textarea,
button,
select {
<<<<<<< HEAD
  vertical-align: middle
}

img {
  width: 100%;
}

=======
  vertical-align: middle;
}
img {
  width: 100%;
}
>>>>>>> dhn
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
<<<<<<< HEAD
  box-sizing: border-box
}

=======
  box-sizing: border-box;
}
>>>>>>> dhn
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
<<<<<<< HEAD
  *zoom: 1
}

=======
  *zoom: 1;
}
>>>>>>> dhn
blockquote:before,
blockquote:after,
q:before,
q:after {
<<<<<<< HEAD
  content: "\0020"
}

textarea {
  overflow: auto;
  resize: vertical
}

=======
  content: "\0020";
}
textarea {
  overflow: auto;
  resize: vertical;
}
>>>>>>> dhn
input,
textarea,
button,
select,
a {
  outline: 0 none;
  border: none;
}
<<<<<<< HEAD

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0
}

mark {
  background-color: transparent
}

a,
ins,
s,
u,
del {
  text-decoration: none
}

sup,
sub {
  vertical-align: baseline
}

=======
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
mark {
  background-color: transparent;
}
a {
  text-decoration: none;
}
sup,
sub {
  vertical-align: baseline;
}
>>>>>>> dhn
html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
<<<<<<< HEAD

=======
>>>>>>> dhn
hr {
  height: 0.02rem;
  margin: 0.1rem 0;
  border: medium none;
  border-top: 0.02rem solid #cacaca;
}
<<<<<<< HEAD

a {
  color: #F79727;
  text-decoration: none;
}

div {
  box-sizing: border-box
}

input {
  font-family: 'PingFangSC-Regular', 'Avenir', Helvetica, Arial, sans-serif;
}

=======
a {
  color: #f79727;
  text-decoration: none;
}
div {
  box-sizing: border-box;
}
input {
  font-family: "PingFangSC-Regular", "Avenir", Helvetica, Arial, sans-serif;
}
>>>>>>> dhn
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
<<<<<<< HEAD

.clearfix {
  display: inline-table;
}

=======
.clearfix {
  display: inline-table;
}
>>>>>>> dhn
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
<<<<<<< HEAD

.clearfix {
  display: block;
}

=======
.clearfix {
  display: block;
}
>>>>>>> dhn
/* End hide from IE-mac */
.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #e4e8ed;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:window-inactive {
<<<<<<< HEAD
  background-color: #E4E8ED;
}

body {
  overflow-y: scroll;
=======
  background-color: #e4e8ed;
}

.ql-toolbar.ql-snow .ql-formats {
  line-height: 24px !important;
}
.ql-toolbar.ql-snow {
  background-color: #f8f8f8;
>>>>>>> dhn
}
